<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1 user-scalable=no" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"
	type="text/javascript"></script>
<script
	src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
	type="text/javascript"></script>
<link rel="stylesheet" href="@{bootstrap/css/ques.css}" />
</head>
<body>
<div class="matrix">
			<div class="form-check">
				<label>
				<input type="checkbox" th:checked="${ques.active}">非常不同意
				<input type="checkbox" th:checked="${ques.active}">有点不同意
				<input type="checkbox" th:checked="${ques.active}">没意见
				<input type="checkbox" th:checked="${ques.active}">有点同意
				<input type="checkbox" th:checked="${ques.active}">非常同意				
				</label>
			</div>
</div>
</body>
</html>