<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>问卷调查</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet"
        href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{bootstrap/css/ques.css}" />
</head>

<body>
	<!--问卷-->
	<div id="que" th:action="@{/questionnaire}">
		<div class="container">
			<div class="row wow fadeInUp" data-wow-duration="1s"
				data-wow-delay="1s">
				<div class="col-md-10 col-md-offset-1">
					<div class="panel panel-info" >
						<div class="panel-heading">问卷调查</div>
						<div class="panel-body">
							<div class="alert alert-info" role="alert">
								<strong>填写须知：</strong>
								“阅读能力测评系统”是由华中师范大学国家数字化学习工程技术研究中心所研发的软件，目的让你了解自己的阅读能力。为了让我们更加了解你在阅读时会用哪些方法与技巧，希望你能依据你自己阅读的情况进行填答。调查的结果只会给你和老师知道，并供研究使用，不会用作其他用途，请放心填写问卷。
							</div>
							<form action="/quessubmit" method="post">
							<table class=" table table-striped" >
								<tbody>
									<tr th:each="ques:${ques}">
									<td th:text=${ques.quesname}></td>
									<td>
                                        <label class="radio-inline">
                                        <input type="radio" th:name="|check(RadioOptionsinrow,'${ques.quesid}')|" th:text="${ques.optiona}" th:value="${ques.optiona}">
                                        </label>
									</td>
									<td>
                                        <label class="radio-inline">
                                        <input type="radio" th:name="|check(RadioOptionsinrow,'${ques.quesid}')|" th:text="${ques.optionb}" th:value="${ques.optionb}">
                                        </label>
									</td>
									<td>
                                        <label class="radio-inline">
                                        <input type="radio" th:name="|check(RadioOptionsinrow,'${ques.quesid}')|" th:text="${ques.optionc}" th:value="${ques.optionc}">
                                        </label>
									</td>
									<td>
                                        <label class="radio-inline">
                                        <input type="radio" th:name="|check(RadioOptionsinrow,'${ques.quesid}')|" th:text="${ques.optiond}" th:value="${ques.optiond}">
                                        </label>
									</td>
									<td>
                                        <label class="radio-inline">
                                        <input type="radio" th:name="|check(RadioOptionsinrow,'${ques.quesid}')|" th:text="${ques.optione}" th:value="${ques.optione}">
                                        </label>
									</td>
									</tr>
								</tbody>
							</table>
							<input type="submit" class="btn btn-default">
						</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--问卷-->
	<div th:replace="footer"></div>
	<!--footer-->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/jquery.singlePageNav.min.js"></script>
	<script src="bootstrap/js/wow.min.js"></script>
	<script>
		$(function() {
			//导航跳转效果插件
			$('.nav').singlePageNav({
				offset : 70
			});
			//小屏幕导航点击关闭菜单
			$('.navbar-collapse a').click(function() {
				$('.navbar-collapse').collapse('hide');
			});
			new WOW().init();
		})
	</script>
</body>
</html>