<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>问卷调查</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet"
        href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{bootstrap/css/ques.css}" />

</head>

<body>
	<!--导航-->
	<div th:replace="navbar"></div>
	<!--导航-->
	<!--问卷-->
	<div id="que" th:action="@{/questionnaire}">
		<div class="container">
			<div class="row wow fadeInUp" data-wow-duration="1s"
				data-wow-delay="1s">
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-info" >
						<div class="panel-heading">问卷调查</div>
						<div class="panel-body">
							<div class="alert alert-info" role="alert">
								<strong>填写须知：</strong>
								填写须知：这份问卷源自于《SRL & MOOC》一文所采用的问卷，请你依据你自己在《数字化学习理论与研究》课程中阅读英文论文的情况进行填答。填写这份问卷不仅能让你更了解文章内容，也能够使你更了解自己的自我调节学习能力。问卷调查仅供学习与研究使用，请放心填写。
							</div>
							<form action="/quessubmit" method="post">
								<div class="list-group">
									<div th:each="ques,iterStat:${ques}">
								<a class="list-group-item" >
									<h5 th:text="|${iterStat.index+1}.${ques.quesname}|"></h5>
								<label class="radio-inline">
									<input type="radio" th:name="${ques.quesid}" th:text="完全不符合" th:value="a">
								</label>
									<label class="radio-inline">
										<input type="radio" th:name="${ques.quesid}" th:text="偶尔符合" th:value="b">
									</label>

									<label class="radio-inline">
										<input type="radio" th:name="${ques.quesid}" th:text="大致符合" th:value="c">
									</label>

									<label class="radio-inline">
										<input type="radio" th:name="${ques.quesid}" th:text="符合" th:value="d">
									</label>

									<label class="radio-inline">
										<input type="radio" th:name="${ques.quesid}" th:text="非常符合" th:value="e">
									</label>
								</a>
									</div>
								</div>
								<center><input type="submit" class="btn btn-default" onclick="return checkradio()"></center>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--问卷-->
	<div th:replace="footer"></div>
	<!--footer-->
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script src="../bootstrap/js/jquery.singlePageNav.min.js"></script>
	<script src="../bootstrap/js/function.js" ></script>
	<script >

        $(function() {
            $('.navbar-collapse a').click(function() {
                $('.navbar-collapse').collapse('hide');
            });
        })
        function checkradio(){
            var item = $(":radio:checked");
            var len=item.length;
            if(len<24){
                alert("全部选择之后才可以提交哦～请重新检查"+$(":radio:checked").val());
                return false;
            }else {
                alert("提交成功嘻嘻嘻！")
            }
            return true;
        }
	</script>
</body>
</html>