<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="text/html" />
	<title>阅读测试</title>
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no" />
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{bootstrap/css/ques.css}" />

	<script src="../bootstrap/js/readingtest.js" ></script>
</head>

<body>
	<!--导航-->
	<div th:replace="navbar"></div>
	<!--导航-->

	<div id="test">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1>阅读测试</h1>
					</div>
					<div class="col-md-10 col-md-offset-1">
						<div class="alert alert-info" role="alert">
							<strong>测试须知：</strong>
							“阅读能力测评系统”是由华中师范大学国家数字化学习工程技术研究中心所研发的软件，目的让你了解自己的阅读能力。一共有15道题目。测评的结果只会给你和老师知道，并供研究使用，不会用作其他用途，请放心测评。”
						</div>
					</div>
				</div>
				<!--pdf显示-->

				<!--答题卡-->
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-info">
						<div class="panel-heading">答题卡</div>
						<div style="overflow: scroll; height: 700px; width: 100%;">
							<div class="panel-body">
								<form class="form-group" action="/testsubmit" method="post">
									<div class="list-group" id="queslist">
										 <a class="list-group-item"  id="list1">
											<h5 id="quesrl01" th:text="${papers.get(0)}"></h5>
											<p id="opsrl01" th:text="${ques1opt.get(0).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(0).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(0).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(0).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list2">
											<h5 id="quesrl02" th:text="${papers.get(0)}"></h5>
											<p id="opsrl02" th:text="${ques1opt.get(1).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(1).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(1).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(1).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list3">
											<h5 id="quesrl03" th:text="${papers.get(0)}"></h5>
											<p id="opsrl03" th:text="${ques1opt.get(2).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(2).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(2).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(2).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list4">
											<h5 id="quesrl04" th:text="${papers.get(0)}"></h5>
											<p id="opsrl04" th:text="${ques1opt.get(3).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(3).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(3).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(3).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list5">
											<h5 id="quesrl05" th:text="${papers.get(0)}"></h5>
											<p id="opsrl05" th:text="${ques1opt.get(4).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(4).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(4).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques1opt.get(4).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list6">
											<h5 id="quesrl06" th:text="${papers.get(1)}"></h5>
											<p id="opsrl06" th:text="${ques2opt.get(0).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(0).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(0).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(0).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list7">
											<h5 id="quesrl07" th:text="${papers.get(1)}"></h5>
											<p id="opsrl07" th:text="${ques2opt.get(1).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(1).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(1).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(1).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list8">
											<h5 id="quesrl08" th:text="${papers.get(1)}"></h5>
											<p id="opsrl08" th:text="${ques2opt.get(2).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(2).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(2).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(2).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list9">
											<h5 id="quesrl09" th:text="${papers.get(1)}"></h5>
											<p id="opsrl09" th:text="${ques2opt.get(3).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(3).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(3).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(3).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list10">
											<h5 id="quesrl010" th:text="${papers.get(1)}"></h5>
											<p id="opsrl010" th:text="${ques2opt.get(4).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(4).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(4).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques2opt.get(4).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list11">
											<h5 id="quesrl011" th:text="${papers.get(2)}"></h5>
											<p id="opsrl011" th:text="${ques3opt.get(0).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(0).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(0).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(0).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list12">
											<h5 id="quesrl012" th:text="${papers.get(2)}"></h5>
											<p id="opsrl012" th:text="${ques3opt.get(1).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(1).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(1).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(1).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list13">
											<h5 id="quesrl013" th:text="${papers.get(2)}"></h5>
											<p id="opsrl013" th:text="${ques3opt.get(2).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(2).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(2).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(2).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list14">
											<h5 id="quesrl014" th:text="${papers.get(2)}"></h5>
											<p id="opsrl014" th:text="${ques3opt.get(3).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(3).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(3).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(3).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<a class="list-group-item"  id="list15">
											<h5 id="quesrl015" th:text="${papers.get(2)}"></h5>
											<p id="opsrl015" th:text="${ques3opt.get(4).options}">
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(4).id}" th:value="a">正确<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(4).id}" th:value="b">错误<br />
											</div>
											<div class="radio-inline">
												<input type="radio" th:name="${ques3opt.get(4).id}" th:value="c">不知道<br />
											</div>
											</p>
										</a>
										<ul class="pagination">
											<li id="btn1" class="active"><a href="javascript:void(0);">1</a></li>
											<li id="btn2"><a href="javascript:void(0);">2</a></li>
											<li id="btn3"><a href="javascript:void(0);">3</a></li>
											<li id="btn4"><a href="javascript:void(0);">4</a></li>
											<li id="btn5"><a href="javascript:void(0);">5</a></li>
											<li id="btn6"><a href="javascript:void(0);">6</a></li>
											<li id="btn7"><a href="javascript:void(0);">7</a></li>
											<li id="btn8"><a href="javascript:void(0);">8</a></li>
											<li id="btn9"><a href="javascript:void(0);">9</a></li>
											<li id="btn10"><a href="javascript:void(0);">10</a></li>
											<li id="btn11"><a href="javascript:void(0);">11</a></li>
											<li id="btn12"><a href="javascript:void(0);">12</a></li>
											<li id="btn13"><a href="javascript:void(0);">13</a></li>
											<li id="btn14"><a href="javascript:void(0);">14</a></li>
											<li id="btn15"><a href="javascript:void(0);">15</a></li>
										</ul>
									</div>
									<input type="submit" class="btn btn-default" style="float:right" id="readid" onclick="return checkradio()">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--答题卡-->

	<!--footer-->
	
	<div th:replace="footer::footer"></div>
	
	
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script src="../bootstrap/js/jquery.singlePageNav.min.js"></script>
	<script src="../bootstrap/js/function.js" ></script>

</body>
</html>