<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>阅读测试</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1 user-scalable=no" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"
	type="text/javascript"></script>
<script
	src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
	type="text/javascript"></script>
<link rel="stylesheet" th:href="@{bootstrap/css/ques.css}" />
</head>

<body>
	<!--导航-->
	<nav class="navbar navbar-default ">
		<!-- 导航固定在顶部 -->
		<div class="container">
			<!-- 容器 -->
			<!--小屏幕导航按钮和logo-->
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<!-- 绑定 -->
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="index.html" class="navbar-brand">阅读测评系统</a>
			</div>
			<!--小屏幕导航按钮和logo-->
			<!--导航-->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav ">
					<li><a href="index.html">首页</a></li>
					<li class="active"><a href="">阅读测试</a></li>
					<li><a href="#html5">历史成绩</a></li>
					<li><a href="questionnaire.html">问卷调查</a></li>
					<li><a href="#app">查阅资料</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a id="dLabel" type="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							个人中心 <span class="caret"></span>
					</a>
						<ul class="dropdown-menu" aria-labelledby="dLabel">
							<li><a href="index.html"><span
									class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;前台首页</a>
							</li>
							<li><a href="index.html"><span
									class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人主页</a></li>
							<li><a href="index.html"><span
									class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;个人设置</a></li>
							<li><a href="index.html"><span
									class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;账户中心</a>
							</li>
							<li><a href="index.html"><span
									class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;我的收藏</a></li>
						</ul></li>
					<li><a href="#bbs"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--导航-->

	<!--pdf显示-->
		<div id="test">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-header">
							<h1>阅读测试</h1>
						</div>
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="user_list.html">文章一</a>
							</li>
							<li>
								<a href="uesr_search.html">文章二</a>
							</li>
							<li>
								<a href="" role="button" data-toggle="modal" data-target="#myModal">文章三</a>
							</li>
						</ul>
						<div class="alert alert-info" role="alert">
							<strong>测试须知：</strong> “阅读能力测评系统”是由华中师范大学国家数字化学习工程技术研究中心所研发的软件，目的让你了解自己的阅读能力。这次测评共有4篇文章，一共有30道题目。测评的结果只会给你和老师知道，并供研究使用，不会用作其他用途，请放心测评。”
						</div>
					</div>
					<!--pdf显示-->

					<div class="col-md-6">
						<iframe th:src="@{bootstrap/pdf/2A-SRL.pdf}" id="iframeId" style="width:100%; height:740px">
							<a th:href="@{bootstrap/pdf/2A-SRL.pdf}">Download PDF</a>
						</iframe>
					</div>
					<!--答题卡-->
					<div class="col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">答题卡</div>
							<div style="overflow:scroll; height:700px; width: 100%;">
								<div class="panel-body">
									<ul class="list-group">
										<div class="title">Q1：我对阅读文章很感兴趣</div>
										<div class="form-check">
											<label class="radio-inline">
			<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="a"> 非常不同意
		</label>
											<label class="radio-inline">
  			<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="b"> 有点不同意
		</label>
											<label class="radio-inline">
  			<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="c"> 没意见
		</label>
											<label class="radio-inline">
  			<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="d"> 有点同意
		</label>
											<label class="radio-inline">
  			<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="d"> 非常同意
		</label>
										</div>
										<div class="title">Q1：我对阅读文章很感兴趣</div>
										<div class="matrix" id="mycheckbox">
											<div class="form-check">
												<label>				<input type="checkbox" >非常不同意<br>
													<input type="checkbox" >有点不同意<br>
													<input type="checkbox" >没意见<br>
													<input type="checkbox" >有点同意<br>
													<input type="checkbox" >非常同意	<br>												
													</label>
											</div>
										</div>
										<div class="title">Q1：我对阅读文章很感兴趣</div>
										<div class="matrix" id="mycheckbox">
											<div class="form-check">
												<label>
													<input type="checkbox" >非常不同意<br>
													<input type="checkbox" >有点不同意<br>
													<input type="checkbox" >没意见<br>
													<input type="checkbox" >有点同意<br>
													<input type="checkbox" >非常同意	<br>												
													</label>
											</div>
										</div>
										<div class="title">Q1：我对阅读文章很感兴趣</div>
										<div class="matrix" id="mycheckbox">
											<div class="form-check">
												<label>
													<input type="checkbox" >非常不同意<br>
													<input type="checkbox" >有点不同意<br>
													<input type="checkbox" >没意见<br>
													<input type="checkbox" >有点同意<br>
													<input type="checkbox" >非常同意	<br>												
													</label>
											</div>
										</div>
										<div class="title">Q1：我对阅读文章很感兴趣</div>
										<div class="matrix" id="mycheckbox">
											<div class="form-check">
												<label>
													<input type="checkbox" >非常不同意<br>
													<input type="checkbox" >有点不同意<br>
													<input type="checkbox" >没意见<br>
													<input type="checkbox" >有点同意<br>
													<input type="checkbox" >非常同意	<br>												
													</label>
											</div>
										</div>
										<div class="title">Q1：我对阅读文章很感兴趣</div>
										<div class="matrix" id="mycheckbox">
											<div class="form-check">
												<label>
													<input type="checkbox" >非常不同意<br>
													<input type="checkbox" >有点不同意<br>
													<input type="checkbox" >没意见<br>
													<input type="checkbox" >有点同意<br>
													<input type="checkbox" >非常同意	<br>												
													</label>
											</div>
										</div>
									</ul>
									<button type="submit" class="btn btn-default">提交</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	<!--答题卡-->

	<!--footer-->
	<div th:replace="footer"></div>
	<!--footer-->
	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"
		type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/jquery.singlePageNav.min.js" type="text/javascript"></script>
	<script src="js/wow.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function() {
			/*导航跳转效果插件
			$('.nav').singlePageNav({
			    offset:70
			});*/
			/*小屏幕导航点击关闭菜单*/
			$('.navbar-collapse a').click(function() {
				$('.navbar-collapse').collapse('hide');
			});
			new WOW().init();
		})
	</script>
</body>
</html>