<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>查阅资料</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet"
          href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{bootstrap/css/ques.css}" />
    <link rel="stylesheet" th:href="@{bootstrap/css/resource.css}" />
</head>

<body>
<!--导航-->
<div th:replace="navbar"></div>
<!--导航-->
<!--问卷-->
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="1s"
             data-wow-delay="1s">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header">
                    <h1>自我调节学习</h1>
                </div>
                <div class="panel panel-info" >
                    <div class="panel-heading">论文</div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>文章标题</th>
                                <th>发布时间</th>
                                <th>查看/下载</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Self-regulated learning strategies predict learner behavior and goal attainment in Massive Open Online Courses</th>
                                <td>2018/08/08</td>
                                <td>
                                    <a th:href="@{bootstrap/pdf/2A-SRL.pdf}">Download PDF</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Self-regulated learning</th>
                                <td>2018/08/08</td>
                                <td>
                                    <a th:href="@{bootstrap/pdf/2A-SRL.pdf}">Download PDF</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--问卷-->
<div th:replace="footer"></div>
<!--footer-->
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script src="../bootstrap/js/jquery.singlePageNav.min.js"></script>
	<script src="../bootstrap/js/wow.min.js"></script>
<script >
    $(function() {
        /*导航跳转效果插件
        $('.nav').singlePageNav({
            offset:70
        });*/
        /*小屏幕导航点击关闭菜单*/
        $('.navbar-collapse a').click(function() {
            $('.navbar-collapse').collapse('hide');
        });
        new WOW().init();
    })
</script>
</body>
</html>