<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="pagination">
    <li id="btn1"><a href="javascript:void(0);">1</a></li>
    <li id="btn2"><a href="javascript:void(0);">2</a></li>
    <li id="btn3"><a href="javascript:void(0);">3</a></li>
    <li id="btn4"><a href="javascript:void(0);">4</a></li>
    <li id="btn5"><a href="javascript:void(0);">5</a></li>
    <li id="btn6"><a href="javascript:void(0);">6</a></li>
    <li id="btn7"><a href="javascript:void(0);">7</a></li>
    <li id="btn8"><a href="javascript:void(0);">8</a></li>
    <li id="btn9"><a href="javascript:void(0);">9</a></li>
    <li id="btn10"><a href="javascript:void(0);">10</a></li>
    <li id="btn11"><a href="javascript:void(0);">11</a></li>
    <li id="btn12"><a href="javascript:void(0);">12</a></li>
    <li id="btn13"><a href="javascript:void(0);">13</a></li>
    <li id="btn14"><a href="javascript:void(0);">14</a></li>
    <li id="btn15"><a href="javascript:void(0);">15</a></li>
</ul>
<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright&nbsp;©&nbsp;2018-2020&nbsp;&nbsp;阅读测评系统&nbsp;&nbsp;</p>
            </div>
        </div>
    </div>
</footer>
<!--footer-->
</body>
</html>